.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.list__link {
  --size: 60px;
  padding: 0.25rem;
  list-style: none;
  width: var(--size);
  height: var(--size);
  background: var(--ifm-color-primary-dark);
  border-radius: 5px;
  transition: 400ms ease-in-out;
}

.list__link:hover {
  box-shadow: 5px 5px var(--ifm-color-primary-light),
    -5px -5px var(--ifm-color-primary-light);
}
