.card {
  background: var(--background);
  border-radius: 5px;
  margin-bottom: 2rem;
}

.image {
  height: 100%;
}

.content__title {
  font-style: italic;
}

.techs__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.tech {
  background: #00172e;
  border-radius: 5px;
  color: var(--ifm-color-primary-lighter);
}
