.card {
  background: var(--background);
  border-radius: 5px;
  margin-bottom: 2rem;
}

.imgContainer {
  position: relative;
}

.image {
  height: 300px;
  position: relative;
  object-fit: cover;
}

.buttons {
  --width: 100%;
  position: absolute;
  padding-inline: 1rem;
  width: var(--width);
  bottom: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  opacity: 0.6;
  transition: opacity 300ms ease-in-out;
}

.button:hover {
  opacity: 1;
}

.content__title {
  font-style: italic;
}

.techs__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.tech {
  background: #00172e;
  border-radius: 5px;
  color: var(--ifm-color-primary-lighter);
}
