.highlighted {
  background: linear-gradient(
    to right,
    var(--ifm-color-primary-darkest) 0%,
    var(--ifm-color-primary-light) 25%,
    var(--ifm-color-primary-darkest) 50%,
    var(--ifm-color-primary-light) 75%,
    var(--ifm-color-primary-darkest) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
}
