.hero__content {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.highlighted {
  background: linear-gradient(
    to right,
    var(--ifm-color-primary-darkest) 0%,
    var(--ifm-color-primary-light) 25%,
    var(--ifm-color-primary-darkest) 50%,
    var(--ifm-color-primary-light) 75%,
    var(--ifm-color-primary-darkest) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  letter-spacing: 2px;
}
