.list {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}

.list__skill {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--ifm-color-primary-dark);
}
