.project {
  padding-block: 4rem;
}

.container {
  margin: auto;
  width: min(90%, 100%);
}

.project__grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
