.avatar {
  height: 300px;
  aspect-ratio: 1;
  object-fit: contain;
  border-radius: 50%;
}

.para {
  font-size: 1.15rem;
  line-height: 1.8;
}

@media screen and (min-width: 996px) {
  .avatar {
    margin-top: 4rem;
  }
}
